venv/*
__pycache__/*
scanman/__pycache__/*
test_data/*
out.docx
out/*
dist/
build/
.venv/
data/*

# 排除所有 docx 文件，但保留 static/*.docx
*.docx
!static/*.docx

# 排除所有 xlsx、html、doc、xls、pdf 文件
*.xlsx
*.html
*.doc
*.xls
*.pdf
*.pyc